# Основной код

In [59]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, train_test_split
import matplotlib.pyplot as plt

<h3>Блок функций</h3>

In [20]:
def data_preparation():
    train_data = pd.read_csv('train.csv', sep=';', dtype={'Source': np.object, 'Destination': np.object,  
                                                     'Protocol': np.object, 'Length': np.int64, 'Source Port': np.int64,
                                                     'Dest Port': np.int64, 'Delta time': np.float64, 'Error': np.object})
    train_data = train_data.fillna('delivered')

    categories = {}
    
    for key, value in enumerate(train_data['Error'].unique()):
        categories[value] = key + 1

    train_data['Error'] = train_data['Error'].map(categories)
    
    for key, value in enumerate(train_data['Source'].unique()):
        categories[value] = key + 1

    train_data['Source'] = train_data['Source'].map(categories)
    
    for key, value in enumerate(train_data['Destination'].unique()):
        categories[value] = key + 1

    train_data['Destination'] = train_data['Destination'].map(categories)
    
    train_data = train_data.sample(frac=1).reset_index(drop=True)    #Функция перемештвания строк
    
    return train_data

<h3>Подготовка и обработка данных</h3>
<p><em>Надо понять, как признаки превратить в вектор и передать их в модель. 
    Возможно нужно сделать словарь, как для 'Error'</em></p>

In [40]:
train_db = data_preparation()
train_db.head()

,Source,Destination,Protocol,Length,Source Port,Dest Port,Delta time,Error
0,4,4,TCP,2966,36384,445,0.000003,4
1,4,4,TCP,2966,36384,445,0.000003,4
2,4,4,TCP,2966,36384,445,0.000003,4
3,2,2,TCP,70,445,36384,0.000025,1
4,4,4,TCP,2966,36384,445,0.000003,4

In [26]:
X = train_db[['Source', 'Destination', 'Length', 'Source Port', 'Dest Port', 'Delta time']]
Y = train_db['Error']

   Source  Destination  Length  Source Port  Dest Port  Delta time
0       4            4    1518        36384        445    0.000005
1       4            4    2966        36384        445    0.000003
2       4            4    2966        36384        445    0.000080
3       4            4    2966        36384        445    0.000003
4       2            2      70          445      36384    0.000001

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=6)
X_train.shape, y_train.shape

((188388, 6), (188388,))

<h3>Создание модели</h3>

In [52]:
first_tree = DecisionTreeClassifier(random_state=6)

In [65]:
np.mean(cross_val_score(first_tree, X_train, y_train, cv=5))

0.964965916036701

<h3>Подбор гиперпараметров</h3>

<h3>Тут будут графики</h3>

In [ ]:
# График точности модели
plt.plot(history.history['acc'])
plt.plot(history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()
# График оценки loss
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()